<% form_for account_form, "/accounts" do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.password_field :password_confirmation, class: "form-control", label: "Confirm Password" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :street_1, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :street_2, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.text_field :city, class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= f.select(:state_id,
                   states.map {|s| [s.abbreviation, s.id]},
                   {class: "form-control", label: "State"}
      ) %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :postal_code, class: "form-control" %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
